body {
    background-image:url(../images/just-waves.png);
}
.ratings {
    color: black;
    font-weight: bold;
    padding-left: 25px;
    padding-top: 25px;
    float: left;
    text-align: center;
}
.gif {
    margin-top: 35px;
    align-content: center;
    display: block;
    float: left;
   
}
.myImage {
    border-radius: 20%;
    border-width: 3px;
    border: solid 5px;
}
.giph {
    background-color: #008CBA;
    color: white;
    font-size: 20px;
    padding: 10px 24px;
    border-radius: 12px;
    border: 2px solid;
}